<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    </head>
    <body class="body">
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
            <h1 class="header-text">Make each day better than the last.</h1>
        </header>
        <section class="container">
            <h2 class="section-header">"If in life, you always show up, and you get a participation ticket every day and what you do, at some point, 
                you'll get the juice. Even if you show up and you don't get it, 100 times in a row maybe at some point you'll get it. But if you have no 
                names in the hat, how can you expect to be drawn from the hat? You can't. Every day, you gotta put your name in it. At some point, it goes 
                juicer mode. You just gotta believe. You gotta believe in yourself and what you do."  -xQc</h2>
            <form method="post">
                <input class="get-quote-btn" type="submit", id="submit" value="{{description}}">
            </form>
            <div class="container">
                <div class="quote">{{inspirational_quote}}</div>
                <div class="quote">{{stoic_quote}}</div>
            </div>
        </section>
    </body>

</html>
